@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

*:focus{
  outline: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  /* border: 1px solid green; */
  -webkit-text-fill-color: #000;
  box-shadow: 0 0 0px 1000px #c1c1c1 inset;
  /* transition: background-color 5000s ease-in-out 0s; */
}